* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg_left_side: rgba(47, 46, 46, 0.4);
  --bg_right_side: linear-gradient(
    171deg,
    rgba(166, 166, 166, 1) 0%,
    rgba(26, 26, 26, 1) 80%
  );

  --bg_form: whitesmoke;
  --bg_sbt_btn: linear-gradient(
    171deg,
    rgba(166, 166, 166, 1) 0%,
    rgba(26, 26, 26, 1) 80%
  );
}

.main-container {
  display: flex;
}

/** Left side content  **/

.left-side-content {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  /* Set hight for main container */
  min-width: 40%;
  /* Set width for main container section */

  background: url(img/bg1.jpg) no-repeat;
  background-size: cover;
}

.logo_image {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  color: aliceblue;
  background: var(--bg_left_side);
  width: 100%;
}

.logo_image img {
  width: 6rem;
}

/** Right side  **/
/**Form content**/

.right-side-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--bg_right_side);
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;

  background: var(--bg_form);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 64px 5px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  margin: 10px;
  padding: 15px 0;
}

.form-title {
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.form-section label {
  display: block;
  text-align: center;
  text-transform: uppercase;

  padding: 3px;
  font-weight: bold;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.form-inline input {
  margin: 0px 20px 0px 30px;
  padding: 2px;
  border: 1px solid #ddd;
  font-size: 1rem;
  font-weight: 500;
}

input:focus {
  border: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
  outline: none;
}

input:invalid:focus {
  border: 2px solid rgb(247, 5, 45);
}

input:focus:valid {
  border: rgb(3, 30, 41) 2px solid;
}

.error {
  font-family: customFontBold;
  font-size: 1rem;
  color: rgb(255, 69, 100);
  text-align: center;
  padding-bottom: 10px;
}

/** Submit-section **/

.submit-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 50px;
}

.submit-btm button {
  cursor: pointer;
  border: none;
  padding: 1rem 1.5rem;
  font-family: inherit;
  font-size: inherit;
  border-radius: 5px;
  box-shadow: 0px 0px 7px #fff;
}

.submit-btm button:hover {
  background: var(--bg_sbt_btn);
  color: white;
}

.submit-text p {
  color: #ddd;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

.submit-text a {
  color: #ddd;
  text-decoration: none;
}

@media screen and (max-width: 950px) {
  .main-container {
    flex-direction: column;
  }

  .left-side-content {
    height: 30vh;
  }
}
